[user]
	email = lorenz@steinerts.de
	name = Lorenz Steinert
    signingKey = 2584CA75748BFAE9
[color]
	ui = true
[commit]
	gpgSign = true
[merge]
	tool = "nvim -d"
	conflictstyle = diff3
[mergetool]
	prompt = false
[core]
	editor = nvim
